*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.938);
    overflow-x: hidden;
}
.container{
    width: 80%;
    margin: 0 auto;
    color: #fefefe;
}
.container .logo{
    width: 20%;
    margin: 0 5rem ;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background: rgb(185, 95, 11);
}
.nav-links{
    display: flex;
    align-items: center;
    z-index:-5555;
}
.nav-link{
    margin: 0 1rem;
    color: #fefefe;
}
.container #photo{
    color: #fefefe;
}
#banner{
    margin: 5rem 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.banner-text{
    width: 40%;
}
.banner-text h1{
    font-size: 5rem;
}
.banner-text p{
    font-size: 1.2rem;
    margin: 2rem 0;
}
.banner-text button{
    border: none;
    border-radius: 1rem;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: white;
    background: rgb(185, 95, 11);

}
.img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner-img{
    width: 50%;
    z-index: 2;
    border-image-slice:1 ; 
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to left, black, rgb(185, 98, 11));
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about{
    margin: 5rem 0;
    height: 60vh;
    display:inline-block;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw
}
.about-text{
    width: 38%;
/*     margin-right: 5rem;
    justify-content: space-around;
    position: absolute; */
}
.about-text h2{
    font-size: 3rem ;
    margin-bottom: 1rem;
}
.about-text p{
    font-size: 1.2rem;
    margin: 2rem 0;
}
.about-img{
    width: 0%;
    z-index: -2;
    position: absolute;
    right: 0;
    top: 0;
}
#vid{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin: 5rem 0;
}
#vid h3{
    font-size: 4rem;
}
#vid h3 span{
    color: rgb(185, 98, 11);
}
.car-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 4rem;
}
.card{
    display: inline-flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: gray;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow:1px 1px 1px -1px gray ;
    color: black;
    cursor: pointer;
    transition: .3s ease ;
    font-size: 4rem;
    width: 12%;
}
.card a{
    color: black;
}
.card-text{
    font-size: 1.2rem;
}
.card:hover{
    transform: scale(1.1) ;
}
.icon{
    font-size: 3rem;
    margin:2rem;

}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    background: black; 
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    height: 4rem;
    margin-bottom: 3rem;
}
footer a{
    color: #fefefe;
    text-decoration: none;
    margin: 0 2rem;
}
footer .name{
    display: inline-flex;
    position: absolute;
    margin-top: 5rem;
}
